.header {
    display:flex;
    flex-direction: row;
    border-bottom:1px solid #a9a9a5;
}
.logo{
    flex:1;
}
.tab-page{
    flex :1;
    display:flex;
    color: #7C7C7C;
    font-size:20px;
}
.tab-ele {
    display:flex;
    flex-direction: row; 
    margin:0;
}
li {
    list-style-type: none;
    cursor: pointer;
}

.ele {
    padding : 5px 10px;
    margin: 15px 30px;
    opacity: 0.8;
}
.login {
    background-color:#F0BC71;
    color:white;
    border-radius: 3px;
}
.login:hover {
    opacity: 0.7;
}



