.tab-change {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 30%;
}

.chosen-navigation {
  background-color: white;
  color: black;
  font-size: 24px;
  cursor: pointer;
}

.chosen-navigation-isClicked {
  outline: none;
  border-bottom: 1px solid #f0bc71;
  font-size: 24px;
  cursor: pointer;
  color: #f0bc71;
}

.list-container {
  padding: 50px 150px;
}
