
.button {
    margin: 10px;
    width: 150px;
    height: 40px;
    float: right;
    display: inline;
}

.btnCategory {
    width: 100px;
}

.style{
    display: inline;
}
.ele {
    padding : 5px 10px;
    margin: 15px 30px;
    opacity: 0.8;
}
.headerNavigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tab-ele {
    display:flex;
    flex-direction: row; 
    margin:0;
}

.update-label{
    padding-top: 20px;
}

.text-capitalize{
    display: flex-start;
    padding-top : 12px;
    padding-left: 24px;
}