/* HomeCss */
.slide-container {
    height: 600px;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: center;
}

.description {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 50%;
    font-size: 20px;
    color: white;
}

/* AboutCss */
.aboutDescription {
    position: absolute;
    width: 50%;
    font-size: 20px;
    color: white;
    top: 25%;
    left: 25%;
}

.about {
    text-align: center;
}

/* ContactCss */

.contactDescription {
    position: absolute;
    width: 50%;
    color: white;
    top: 1%;
    left: 5%;
}

.info {
    margin: 0px 35px;
    font-family: Times New Roman;
    white-space: 2px;
    font-size: 20px;
}

.name {
    display: flex;
    flex-direction: row;
}

.contact-form {
    font-family: Sitka Heading;
    font-size: 24px;
}

.inputName {
    flex: 1;
    margin: 20px;
}

::placeholder {
    color: #c9c9c8;
}

input {
    background-color: transparent;
    border: 1px solid #b5b5b4;
    height: 25px;
    padding: 10px 20px;
    font-size: 15px;
    color: #c9c9c8;
    outline: none;
    font-family: Sitka Heading;
}

.email {
    margin: 0 20px;
    width: 88%;
}

.message {
    background-color: transparent;
    border: 1px solid #b5b5b4;
    height: 60px;
    padding: 10px 20px;
    font-size: 15px;
    color: #c9c9c8;
    outline: none;
    margin: 20px;
    width: 88%;
    font-family: Sitka Heading;
}

.submit {
    background-color: #F0BC71;
    margin: 10px 20px;
    padding: 15px 35px;
    font-family: Sitka Heading;
    color: white;
    font-size: 20px;
    border: none;
    width: 30%;
}