/* HomeCss */
.body {
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
}

.blog-content:hover {
  background-color: white;
}

.slide-container {
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center;
  flex: 1;
  letter-spacing: none;
}

.description {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 50%;
  font-size: 20px;
  color: white;
}

.aboutDescription {
  position: absolute;
  width: 40%;
  font-size: 20px;
  color: white;
  top: 15%;
  left: 15%;
  animation-name: display;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  text-align: left;
}

.button-view {
  position: absolute;
  width: 25%;
  font-size: 20px;
  color: white;
  bottom: 45%;
  left: 15%;
  animation-name: display;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  text-align: left;
  border-radius: 10px;
}

.view-button {
  border-radius: 10px;
}

.view-button:focus {
  outline: none;
  border: none;
}

@keyframes display {
  0% {
    left: -25%;
    opacity: 0;
  }

  100% {
    left: 15%;
    opacity: 1;
  }
}

.blogDescription {
  position: absolute;
  width: 30%;
  font-size: 20px;
  color: white;
  top: 15%;
  left: 15%;
  animation-name: display;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  text-align: left;
}

.blog-button-view {
  position: absolute;
  width: 25%;
  font-size: 20px;
  color: white;
  bottom: 35%;
  left: 15%;
  animation-name: display;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  text-align: left;
  border-radius: 10px;
}

.blog-title {
  text-align: center;
}

.blog-container {
  padding: 50px;
}

.img-item {
  position: relative;
}

.img-item:hover {
  opacity: 0.7;
}

.img-item:hover .place-name1 {
  visibility: visible;
  opacity: 1;
}

.place-name1 {
  margin: 0 !important;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 50px;
  text-align: center;
  width: 100%;
  bottom: 0;
  height: 100px;
  color: white;
  text-shadow: 2px 2px black;
  visibility: hidden;
  opacity: 0;
  background-color: transparent;
  transition: opacity 0.2s, visibility 0.2s;
}

.blog-content {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.blog-text {
  flex: 2;
  margin-right: 50px;
}

.blog-img {
  flex: 1;
  margin-left: 50px;
}

.blog-place-img {
  flex: 1;
  margin: 50px;
}

.about {
  text-align: center;
}

.about-staff {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 80px;
  animation-name: display1;
  animation-duration: 4s;
  animation-timing-function: ease-out;
}

@keyframes display2 {
  0% {
    margin-left: -200px;
    opacity: 0.1;
  }

  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes display1 {
  0% {
    margin-left: -200px;
    opacity: 0.1;
  }

  100% {
    margin-left: 80px;
    opacity: 1;
  }
}

.title-staff {
  text-align: center;
}

.staff-list {
  text-align: center;
  padding: 30px !important;
}

.staff-description {
  text-align: left;
}

.staff-post {
  margin: 30px 200px;
}

.comment-item {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.comment-item:focus {
  outline: none;
}

.comment-content {
  flex: 4;
  padding: 0 50px;
}

.image-comment {
  width: 250px;
  height: 250px;
  border-radius: 200px;
  flex: 1;
}

.image {
  width: 250px;
  height: 250px;
  border-radius: 200px;
}

.image1 {
  width: 300px;
  height: 300px;
  border-radius: 200px;
}

.staff-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* ContactCss */

.contactDescription {
  position: absolute;
  width: 50%;
  color: white;
  top: 10%;
  left: 15%;
  animation-name: display;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.info {
  margin: 0px 35px;
  font-family: Times New Roman;
  white-space: 2px;
  font-size: 20px;
}

.name {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.contact-form {
  font-family: Sitka Heading;
  font-size: 24px;
}

.inputName {
  flex: 1;
  margin: 20px;
}

::placeholder {
  color: #c9c9c8;
}

input {
  background-color: transparent;
  border: 1px solid #b5b5b4;
  height: 50px;
  padding: 10px 20px;
  font-size: 15px;
  color: #c9c9c8;
  outline: none;
  font-family: Sitka Heading;
}

.email {
  margin: 0 20px;
  width: 94%;
}

.message {
  background-color: transparent;
  border: 1px solid #b5b5b4;
  height: 150px;
  padding: 10px 20px;
  font-size: 15px;
  color: #c9c9c8;
  outline: none;
  margin: 20px;
  width: 94%;
  font-family: Sitka Heading;
}

.submit {
  background-color: #f0bc71;
  margin: 0 20px;
  padding: 15px 35px;
  font-family: Sitka Heading;
  color: white;
  font-size: 20px;
  border: none;
  width: 30%;
}