.root {
  display: flex;
  flex-direction: row;
  font-family: "Open Sans";
}

.img-container {
  flex: 1
}

.form {
  border: 1px solid #ccc;
  height: 100%
}

.loginForm {
  background-color: white;
  position: absolute;
  height: 100%;
  opacity: 0.8;
}

.loginForm1 {
  background-color: white;
  border-radius: 5px;
  position: absolute;
  height: 100%;
  right: 0;
  width: 50%;
  opacity: 0.8
}

.loginForm1:hover {
  opacity: 1
}

input[type=text],
input[type=password] {
  color: black;
  background-color: #eeeeee;
}

.container {
  padding: 30px;
}

.container b {
  color: black;
}

button {
  background-color: #ff6d00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 50%;
}

.text-area {
  margin: 10px 60px;
}

button:hover {
  opacity: 0.8;
}


.img-container {
  text-align: center;
  margin: 50px 100px 0 100px;
}

.submit-button {
  width: 30%;
  margin: 18px 35%;
}

.register-button {
  width: 30%;
  margin: 0 35%;
  background-color: #ccc;
  color: black
}

.second-container {
  padding: 16px;
  background-color: white
}


/* Change styles for span and cancel button on extra small screens */

b {
  color: black;
}

::placeholder {
  color: #7C7C7C;
}