.root {
  display: flex;
  flex-direction: row;
  font-family: "Open Sans";
  top:70px;
}

.img-container {
  flex: 1
}

.form {
  border: 1px solid #ccc;
  height: 100%;
}

.loginForm {
  background-color: white;
  border-radius: 5px;
  position: absolute;
  height: 100%;
  width: 50%;
  opacity: 0.6
}

.loginForm:hover {
  opacity: 1
}

.container {
  margin: 10px 0;
  padding: 0 100px !important;
}

.container b {
  color: black;
}

body {
  font-family: Sitka Heading;
}

input[type=text],
input[type=password] {
  display: inline-block;
  color: black !important;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 30px
}

button {
  background-color: #F0BC71;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 50%;
  border: none;
  border-radius: 30px !important;
}

button:hover {
  opacity: 0.8;
}

.text-area {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.img-container {
  text-align: center;
  margin: 100px 100px 12px 100px;
}

.submit-button {
  width: 74% !important;
  margin: 18px 13% !important;
}

.register-button {
  width: 74% !important;
  margin: 18px 13% !important;
}

.second-container {
  padding: 16px;
  bottom: 0
}


/* Change styles for span and cancel button on extra small screens */

b {
  color: black;
}

::placeholder {
  color: #7C7C7C;
}