/* .tab-change {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 30%;

}

.chosen-navigation {
    background-color: white;
    color: black;
    font-size: 24px;
}

.chosen-navigation:focus {
    color: #F0BC71;
    outline: none;
    border-bottom: 1px solid #F0BC71;
} */
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 24px;
  padding: 30px 0 0 0;
}

.search-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  margin: 0 50px 0 0;
}

.title {
  flex: 2;
  padding: 0 0 0 40%;
}

.search-input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: none;
}

.search-button {
  width: 20%;
  font-size: 15px;
  padding: 0;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.list-item {
  padding: 50px 150px;
}

.item {
  width: 200px;
}

.checked {
  color: orange;
}

.place-name {
  text-align: center;
  margin: 5px;
  font-size: 20px;
}

.place-name p {
  margin: 0;
}

.place-rating-price {
  display: flex;
  flex-direction: row;
}

.place-rating {
  flex: 2;
  font-size: 16px;
}

.place-price {
  flex: 1;
  color: blue;
  font-size: 20px;
}

.place-price p {
  margin: 0;
}

.place-description {
  text-align: left;
}

/* border:1px solid black; */